.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .iframe {
    width: 100%;
    max-width: 600px;
    height: 352px; /* Desktop and tablet height */
    border: none;
    border-radius: 12px;
  }
  
  @media (max-width: 768px) {
    .iframe {
      height: 500px; /* Increased height to allow a vertical layout */
    }
  }
  
  @media (max-width: 480px) {
    .iframe {
      height: 600px; /* Further increase height for smaller screens */
    }
  }
  