.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img{
        max-width: 250px;
        max-height: 250px;
        align-self: center;
        border-radius: 20px;
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.5);
    }
}

.GalleryContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

@media (width >= 800px) {
    .GalleryContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}