:root {
    --background-color: #222; /* Dark mode background */
    --btn-color: #fff;
    --btn-text-color: #222;
    --photo-card-bg: #333;
    --text-color: #fff;
    --form-text-color: #fff;
    --footer-text-color: #bbb;
}

body {
    background-color: var(--background-color);
    background-image: url('/src/assets/smithereensBackground.avif');
    background-size: cover; /* Cover for desktop */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    color: var(--text-color);
    min-height: 100vh; /* Ensures minimum height */
}

#root {
    flex-direction: column;
    gap: 60px;
}

h1, h2, h3, p {
    color: var(--text-color);
}

h2, h3, p {
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2, h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

p {
    font-size: 16px;
    font-weight: 300;
}

.sectionTitle {
    margin-bottom: 30px;
}

.hover {
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 400px) { /* Mobile styles */
    body {
        background-image: url('/src/assets/smithereensSmallBackground.png');
        background-size: cover; 
        background-attachment: scroll; /* Disable fixed attachment for better performance on mobile */
    }
}

@media (min-width: 400px) {
    #root {
        gap: 100px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 20px;
    }
    .sectionTitle {
        margin-bottom: 35px;
    }
}

@media (min-width: 800px) {
    #root {
        gap: 100px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 21px;
    }
    p {
        font-size: 22px;
    }
    .sectionTitle {
        margin-bottom: 35px;
    }
}

@media (min-width: 1400px) {
    #root {
        gap: 200px;
    }
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    .sectionTitle {
        margin-bottom: 50px;
    }
}
